ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  z-index: 1200;
  position: relative;
}

.left-sidebar {
  transition: all 0.4s ease-in-out;
  width: 240px;
  min-height: 100%;
  padding-top: 57px;
  position: absolute;
  z-index: 1104;
  top: 0;
  left: 0px;
}

.sidebar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left-sidebar.xs-active {
  left: 0px;
}

.left-sidebar.active {
  left: -240px;
}

.tpl-content-wrapper {
  transition: all 0.4s ease-in-out;
  position: relative;
  margin-left: 240px;
  z-index: 1101;
  min-height: 922px;
  border-bottom-left-radius: 3px;
}

/* websocket.html */

#websocket-address {
  width: 600px;
}

#websocket-output {
  margin-right: 100px;
  height: 500px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid rgb(207, 207, 207);
  overflow-y: auto;
}

#websocket-output::-webkit-scrollbar {
  width: 5px;
}

#websocket-output::-webkit-scrollbar-track {
  background-color: rgb(236, 236, 236);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

#websocket-output::-webkit-scrollbar-thumb {
  background-color: rgb(207, 207, 207);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

#websocket-clear {
  position: absolute;
  right: 150px;
  top: 480px;
}

#websocket-clear:hover {
  color: rgb(155, 155, 155);
}

#websocket-message {
  width: 600px;
}